<header id="site-head" style="background-image: url({{#if @blog.cover}}{{@blog.cover}}{{else}}{{asset 'img/logo.jpg'}}{{/if}})">
    <div class="dotted_bg"></div>
    <div class="site-head-inner">
        <div class="vertical">
            <div id="site-head-content" class="inner">
            {{#if tag}}
                <a id="blog-logo" class="default logo-big" href="/tag/{{tag.slug}}" style="background-image: url({{#if tag.image}}{{tag.image}}{{else}}{{asset 'img/tag-logo.png'}}{{/if}})"></a>

                <h1 class="blog-title">{{tag.name}}</h1>
                <h2 class="blog-description">共包含{{pagination.total}}篇博文</h2>
            {{else}}
                {{#if author}}
                    <a id="blog-logo" class="default logo-big" href="{{author.url}}" style="background-image: url({{#if author.image}}{{author.image}}{{else}}{{asset 'img/tag-logo.png'}}{{/if}})"></a>

                    <h1 class="blog-title">{{author.name}}</h1>
                    <h2 class="blog-description author-info">
                        {{#if author.location}}<i class="fa fa-map-marker"></i>&nbsp;{{author.location}}</span>&nbsp;{{/if}}
                        {{#if author.website}}<i class="fa fa-link"></i>&nbsp;<a href="{{author.website}}">我的网站</a></span>&nbsp;{{/if}}
                        <i class="fa fa-bar-chart-o"></i>&nbsp;{{plural pagination.total empty='没有博文' singular='% 篇博文' plural='% 篇博文'}}
                    </h2>
                {{else}}
                    <a id="blog-logo" class="default" href="{{@blog.url}}" {{#if @blog.logo}}style="background-image: url({{@blog.logo}})"{{/if}} title="首页"></a>

                    <h1 class="blog-title">{{@blog.title}}</h1>
                    <h2 class="blog-description">{{@blog.description}}</h2>
                {{/if}}
            {{/if}}
            </div>
        </div>

        <div class="social-panel">
            <div class="buttons">
                <a href="https://twitter.com/superlin1990" class="btn" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a href="https://plus.google.com/u/0/100879315317761275357/posts" class="btn" target="_blank">
                    <i class="fa fa-google-plus-square"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100005915920438" class="btn" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="http://www.weibo.com/2010545002/profile" class="btn" target="_blank">
                    <i class="fa fa-weibo"></i>
                </a>
                    <a href="http://www.renren.com/297870029/profile" class="btn" target="_blank">
                <i class="fa fa-renren"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<div style="display:block">
    <div class="menu_top">
        <a class="toggle-mobile-menu" id="responsive-menu-button" href="#">菜单 <i class="fa"></i></a>

        <div id="menu">
            <ul class="inner">
                <li><a href="/">首页</a></li>
                <li><a href="/tags" {{#if ismtags}}class="active"{{/if}}>标签</a></li>
                <li><a href="/about/">关于</a></li>
                <li><a href="/contact/">联系</a></li>
            </ul>
        </div>
    </div>
</div>