{{!< default}}

{{> "mheader"}}

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}
        <div class="post-inner">
            <div class="column-left">
                <span class="post-meta">
                    <time datetime="{{date format='YYYY-MM-DD'}}">
                        <span>{{date format="DD"}}</span>
                        <span>{{date format="MM"}}月</span>
                        <span>{{date format="YYYY"}}</span>
                    </time>
                </span>
            </div>
            <div class="column-right">
                <header class="post-header">
                    <h1 class="post-title">{{{title}}}</h1>
                </header>

                <span class="post-meta clearfix">
                    <span><i class="fa fa-tag"></i>{{#if tags}}{{tags}}{{else}}无标签{{/if}}</span>
                </span>

                <section class="post-content">
                    {{content}}
                </section>

                <footer class="post-footer">

                    <section class="share bdsharebuttonbox">
                        <h4>立即分享:</h4>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"我看到了一篇不错的文章-《{{{title}}}》，快去看看吧！","bdUrl":"{{@blog.url}}/{{slug}}","bdDesc":"{{{title}}}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","weixin","renren","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                    </section>
                </footer>
            </div>
            <br>
            <div class="column-right author">
                <section class="clearfix">
                    <div class="img-wrapper"><img width="80" src="{{#if author.image}}{{author.image}}{{else}}{{asset 'img/user-image.png'}}{{/if}}" ></div>
                    <h4><a href="/author/{{author.slug}}">{{author.name}}</a></h4>
                    {{#if author.location}}<p class="author-meta"><i class="fa fa-map-marker"></i> {{author.location}}</p>{{/if}}
                    {{#if author.bio}}<p>{{author.bio}}</p>{{/if}}
                </section>
            </div>
            <br>
            <div class="column-right author">
                <section class="clearfix">
                    <div class="comments">
                        <style>
                            #ds-smilies-tooltip, #ds-smilies-tooltip:before,#ds-smilies-tooltip:after, #ds-smilies-tooltip *, #ds-smilies-tooltip *:before,#ds-smilies-tooltip *:after{
                                box-sizing: content-box;
                                -webkit-box-sizing: content-box;
                                -moz-box-sizing: content-box;
                            }
                        </style>
                        <!-- 多说评论框 start -->
                        <div class="ds-thread" data-thread-key="{{post.id}}" data-title="{{post.title}}" data-url="{{@blog.url}}/{{slug}}"></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                            var duoshuoQuery = {short_name:"lwlblog"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0]
                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- 多说公共JS代码 end -->
                    </div>
                </section>
            </div>
        </div>
    {{/post}}
    </article>
    <div class="to_top">
        <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>

</main>
