{{!< default}}

{{> "sheader"}}

<main class="content" role="main">

    <article class="post page">

        <div class="post-inner">
            <div class="tags-holder clearfix">
            {{#foreach tags}}
                <div class="tag-wrapper">
                    <div class="tag-outer clearfix" title="{{name}}">
                        <div class="tag-inner clearfix">
                            <div class="tag-logo">
                                <img src="{{#if image}}{{image}}{{else}}{{asset "img/tag-logo.png"}}{{/if}}" alt="">
                            </div>
                            <p>{{date format='YYYY-MM-DD'}}</p>
                            <h4><a href="/tag/{{slug}}">{{name}}</a></h4>
                        </div>
                    </div>
                </div>
            {{/foreach}}
            </div>
        </div>

    </article>

</main>
