<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="{{asset "favicon.ico"}}">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <script type="text/javascript" src="{{asset "js/vendor/fastclick.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/modernizr.js"}}"></script>

    {{! Styles'n'Scripts }}

    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/foundation.min.css"}}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="{{asset "css/outdatedBrowser.min.css"}}">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />

    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    {{!语法高亮}}
    <link href="http://cdn.bootcss.com/highlight.js/8.2/styles/monokai.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/highlight.js/8.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<div id="outdated">
    <h6>您的浏览器已过时!</h6>
    <p>请更新您的浏览器后再来浏览我们的网站. <a id="btnUpdate" href="http://outdatedbrowser.com/">立即更新浏览器</a></p>
</div>

<nav class="top-bar hide-for-large-up" data-topbar {{#if @blog.cover}}style="background: none"{{/if}}>
  <ul class="title-area">
    <li class="home"><a class="fa fa-home" href="{{@blog.url}}"></a></li>
    <li class="toggle-topbar"><a href="#" id="trigger-overlay" class="fa fa-list"></a></li>
  </ul>

<div class="overlay overlay-scale">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
            <li><a href="{{@blog.url}}">回主页</a></li>
            <li><a href="{{@blog.url}}/about">关于我</a></li>
            <li><a href="{{@blog.url}}/contact">联系我</a></li>
        </ul>
    </nav>
</div>

</nav>

<div class="row">

<div class="small-16 medium-16 large-4 columns right head-area{{#if @blog.cover}} bgimage{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>

<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <ul class="side-nav blog-menu show-for-large-up">
                <li><a class="fa fa-home" href="{{@blog.url}}"></a></li>
                <li><a class="fa fa-user" href="{{@blog.url}}/about"></a></li>
                <li><a class="fa fa-envelope" href="{{@blog.url}}/contact"></a></li>
            </ul>
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img alt="{{@blog.title}}" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <hr>
            <p class="blog-description">{{@blog.description}}</p>
            <div class="blog-network">
                <a href="{{@blog.url}}/rss" target="_blank" id="rss-link" class="fa fa-rss-square"></a>
                <a href="https://www.facebook.com/profile.php?id=100005915920438" target="_blank" class="fa fa-facebook-square"></a>
                <a href="https://plus.google.com/u/0/100879315317761275357/posts" target="_blank" class="fa fa-google-plus-square"></a>
                <a href="https://twitter.com/superlin1990" target="_blank" class="fa fa-twitter-square"></a>
                <a href="http://www.renren.com/297870029/profile" target="_blank" class="fa fa-renren"></a>
                <a href="http://www.weibo.com/2010545002/profile" target="_blank" class="fa fa-weibo"></a>
            </div>
        </div>
    </div>
</header>

</div>
<script>
    var url = location.href;
    var rss = "";
    var par = new RegExp(/\/page\//i);
    var rsspar = new RegExp(/(\/tag\/)|(\/author\/)|(\/page\/)/i);
    if(rsspar.test(location.pathname) || location.pathname == "/"){
        if(par.test(url)){
            rss = url.replace(/\/page\//i, "/rss/");
        } else {
            rss = url + "/rss";
        }
    } else {
        rss = location.host + "/rss";
    }
    document.getElementById("rss-link").href = rss;
</script>

<div class="small-16 medium-16 large-12 columns main-column left">
    {{! Everything else gets inserted here }}
    {{{body}}}
</div>

</div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Ichi }}
    <!--[if lte IE 8]>
        <script type="text/javascript" src="{{asset "js/outdatedBrowser.min.js"}}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/foundation.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/overlay/snap.svg-min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/overlay/classie.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/overlay/demo1.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/smoothscroll.js"}}"></script>

    <script>
      $(document).foundation();
    </script>
</body>
</html>
