{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}




{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    {{#if featured}}
    <article class="{{post_class}}">
        <a href="{{url}}">{{content characters="1"}}</a>
        <div>
            <header class="post-header">
                <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY年MM月DD日"}}</time> </span>
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

            </header>
            <section class="post-excerpt">
                <p>{{excerpt characters="400"}}&hellip;</p>
            </section>
            <a class="button read-more right small" href="{{url}}">阅读全文</a>
            {{#if tags}}
            <aside class="tags fa fa-tags">{{tags prefix="标签："}}</aside>
            {{else}}
            <aside class="tags fa fa-tags">无标签</aside>
            {{/if}}
            <div class="clearfix"></div>
        </div>
    </article>
    {{else}}
    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY年MM月DD日"}}</time> </span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt characters="400"}}&hellip;</p>
        </section>
        <a class="button read-more right small" href="{{url}}">阅读全文</a>
        {{#if tags}}
        <aside class="tags fa fa-tags">{{tags prefix="标签："}}</aside>
        {{else}}
        <aside class="tags fa fa-tags">无标签</aside>
        {{/if}}
        <div class="clearfix"></div>
    </article>
    {{/if}}

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

    <div class="row">
        <footer class="small-16 columns site-footer">
            <div class="inner">
                <section class="published">Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></section>
                 <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                 <section class="copyright">All rights reserved.</section>
            </div>
        </footer>
    </div>

</main>

