{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <span class="post-meta label"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY年MM月DD日'}}</time></span>

            <section class="post-content">
                {{content}}
                {{#if tags}}
                <aside class="tags fi-pricetag-multiple">{{tags prefix="标签："}}</aside>
                {{else}}
                <aside class="tags fi-pricetag-multiple">无标签</aside>
                {{/if}}
            </section>
            <hr>
            <footer class="post-footer">
                <section class="share">
                    <h4>喜欢这篇文章? 立即分享.</h4>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"我看到了一篇不错的文章-《{{{title}}}》，快去看看吧！","bdUrl":"{{@blog.url}}/{{slug}}","bdDesc":"{{{title}}}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","weixin","renren","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </section>

                <section class="author">
                    <header>
                        <span style="color: white">关于作者</span>
                    </header>
                    <section>
                        <table style="width:100%; margin: 0;">
                            <tr>
                                <td>
                                    <table style="border:none; margin: 0;">
                                        <tr>
                                            <td><a href="{{@blog.url}}/author/{{author.slug}}"><h4>{{author.name}}</h4></td>
                                        </tr>
                                        {{#if author.location}}<tr>
                                            <td><span>{{author.location}}</span></td>
                                        </tr>{{/if}}
                                        {{#if author.website}}<tr>
                                            <td><a href="{{author.website}}">{{author.website}}</a></td>
                                        </tr>{{/if}}
                                    </table>
                                </td>
                                {{#if author.image}}<td><img src="{{author.image}}"></td>{{/if}}
                            </tr>
                        </table>
                    </section>
                    <footer>
                         <p>{{author.bio}}</p>
                    </footer>
                </section>

                <div class="clearfix"></div>
                <hr>

            </footer>

        {{/post}}
        <style>
            #ds-smilies-tooltip, #ds-smilies-tooltip:before,#ds-smilies-tooltip:after, #ds-smilies-tooltip *, #ds-smilies-tooltip *:before,#ds-smilies-tooltip *:after{
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
            }
        </style>
        <h3 class="title-disqus"><span class="fi-comments"></span>讨论区</h3>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{post.id}}" data-title="{{post.title}}" data-url="{{@blog.url}}/{{slug}}"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"lwlblog"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->

    </article>

</main>
