{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <span class="post-meta label"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY年MM月DD日'}}</time></span>

            <section class="post-content">
                {{content}}
                {{#if tags}}
                <aside class="tags fi-pricetag-multiple">{{tags prefix="标签："}}</aside>
                {{else}}
                <aside class="tags fi-pricetag-multiple">无标签</aside>
                {{/if}}
            </section>
            <hr>
            <footer class="post-footer">
                <section class="share">
                    <h4>喜欢这篇文章? 立即分享.</h4>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    </div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"我看到了一篇不错的文章-《{{{title}}}》，快去看看吧！","bdUrl":"{{@blog.url}}/{{slug}}","bdDesc":"{{{title}}}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","tqq","weixin","renren","qzone"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </section>

                <section class="author">
                    <header>
                        <span style="color: white">关于作者</span>
                    </header>
                    <section>
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <a href="{{@blog.url}}/author/{{author.slug}}"><h4>{{author.name}}</h4></a>
                                    </div>
                                    {{#if author.location}}<div><span>{{author.location}}</span></div>{{/if}}
                                    {{#if author.website}}<div><a href="{{author.website}}">{{author.website}}</a></div>{{/if}}
                                </td>
                                {{#if author.image}}<td><img src="{{author.image}}"></td>{{/if}}
                            </tr>
                            {{!-- <a href="{{@blog.url}}/author/{{author.slug}}"><h4>{{author.name}}</h4></a>
                            {{#if author.image}}<img src="{{author.image}}">{{/if}}
                            {{#if author.location}}<span>{{author.location}}</span>{{/if}}
                            {{#if author.website}}<a href="{{author.website}}">{{author.website}}</a>{{/if}}
                            <div style="clear:both"></div> --}}
                        </table>
                    </section>
                    <footer>
                         <p>{{author.bio}}</p>
                    </footer>
                </section>

        <div class="clearfix"></div>
                    <hr>

            </footer>

        {{/post}}
        <h3 class="title-disqus"><span class="fi-comments"></span>讨论区</h3>
        <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'example'; // required: replace example with your forum shortname
    var disqus_identifier = '{{post.id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </article>

</main>
